html{
    font-size:medium;
}
/* navbar styles */
.navbar{

    display: flex;
    justify-content: space-around;
    padding: 10px 70px;
}

.navbar > li{
    list-style-type: none;
    padding: 0;
}


h2, h1 {
    text-align: center;
}


/* catagories */
.catagories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.catagories > a{
    border: 2px solid; 
    padding: 50px;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}